h1 {
    color: darkslateblue;
    font-size:30px;
}

body {
    background: #f4f4f4;
}

#demo{
    font-size: 12px;
    color: cadetblue;
    font-style: italic;
}





/* new stuff just added for the images */

#food-grid {
	margin: 40px;
}

#food-cart {
	margin: 40px;
}


#food-grid .txt-heading {
	margin-bottom: 18px;
}

.food-item {
	float: left;
	background: #ffffff;
	margin: 30px 30px 0px 0px;
	border: #E0E0E0 1px solid;
}

.food-action {
	float: right;
}

#food-grid .txt-heading {
	margin-bottom: 10px;
}

#food-cart .txt-heading {
	margin-bottom: 10px;
	margin-left: 5px;
	float: left;
}
