{% extends 'base.html' %}

{% block modal %}
<!-- Modal -->
{% set ins_to_carb = insuline_to_carb %}
{% set food_cart = food_cart %}
{% set test = session["test"] %}
{% ins_dose = session["insulin_dosage_sum"] %}
<div class="modal fade" id="sebmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-toggle="sebmodal" data-target="#sebmodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        </div>
        <div class="modal-body">
          ...
          {{ ins_to_carb }}
          {{ food_cart }}
          {{ test }}
          {{ ins_dose }}
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    console.log("window is loaded")
    $("#sebmodal").modal("show")
})
// const myModal = document.getElementById('exampleModal')
// // const myInput = document.getElementById('myInput')

// myModal.addEventListener('shown.bs.modal', () => {
//     myModal.focus()
// })
</script>
{% endblock %}